@use "./variable" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;

  &_logo {
    width: 100px;
  }

  &_nav {
    &_list {
      display: flex;
      &_item {
        margin-left: 30px;
        padding: 5px 10px;
        border: 1px colorPicker("boarder-color", "black") solid;
        border-radius: 20px;
        font-weight: fontWeight("bold");
        text-transform: uppercase;
        transition: all 0.2s;
        &:hover {
          background-color: colorPicker("bg-color", "black");
          color: colorPicker("font-color", "white");
        }
      }
      &_menu {
        width: 25px;
        height: 15px;
        margin-left: 30px;
        border-bottom: 2px colorPicker("boarder-color", "gray") solid;
        position: relative;

        &::before,
        &::after {
          content: "";
          width: 25px;
          border-bottom: 2px colorPicker("boarder-color", "gray") solid;
          position: absolute;
        }
        &::before {
          top: 4px;
        }
        &::after {
          bottom: -12px;
        }
      }
    }
  }
}
