$font-family-primary: "Open Sans", sans-serif;
$font-family-accent: "Playfair Display", serif;

$font-color: (
  "black": #171717,
  "white": #faf8ef,
);
$font-weight: (
  "light": 300,
  "regular": 400,
  "bold": 600,
);
$bg-color: (
  "black": #171717,
  "white": #faf8ef,
  "beige": #fef6ec,
);
$boarder-color: (
  "black": #262626,
  "gray": #979797,
);
@function colorPicker($colorFor, $colorName) {
  $targetColorPalette: "";
  @if ($colorFor == "bg-color") {
    $targetColorPalette: $bg-color;
  } @else if ($colorFor == "font-color") {
    $targetColorPalette: $font-color;
  } @else if ($colorFor == "boarder-color") {
    $targetColorPalette: $boarder-color;
  }
  @return map-get($targetColorPalette, $colorName);
}

@function fontWeight($weight) {
  @return map-get($font-weight, $weight);
}

@mixin responsiveMiddle {
  @media (max-width: 990px) {
    @content;
  }
}
@mixin responsiveSmall {
  @media (max-width: 770px) {
    @content;
  }
}

$header_height: 55px;
