@use "../variable" as *;

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  height: 550px;
  margin-top: 150px;
  margin-inline: auto;
  border: 10px solid colorPicker(boarder-color, "beige");
  border-radius: 30px;
  text-align: center;
  font-family: $font-family-accent;
  overflow: hidden;

  &_title {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: fontWeight("bold");
    transition: font-size 1.5s;
  }
  &_error {
    width: 40%;
    margin-inline: auto;
    margin-bottom: 20px;
    padding: 10px 5px;
    border-radius: 10px;
    background-color: white;
    color: colorPicker(font-color, "warning");
    font-size: 12px;
    opacity: 0;
  }
  &_form-area {
    &_item {
      display: block;
      width: 220px;
      padding: 15px;
      margin-inline: auto;
      margin-bottom: 10px;
      border: none;
      border-radius: 10px;
      box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.8);

      &:last-child {
        width: 150px;
        margin-top: 30px;
        background-color: colorPicker("bg-color", "submit");
        color: colorPicker("font-color", "white");
        transition: background-color 0.5s;
        &:hover {
          background-color: colorPicker("bg-color", "submit-hover");
        }
      }
    }
  }
  &_sign-up {
    &-show {
      width: 750px;
      height: 85%;
      padding-top: 30px;
      border-radius: 0px 0px 50% 50%;
      background-image: url(../../image/LP_modal.png);
      background-position: center center;
      z-index: 2;
      transition: height 1.5s;
      overflow: hidden;
    }
    &-hide {
      width: 750px;
      height: 30%;
      background-image: url(../../image/LP_modal.png);
      background-position: center center;
      transition: height 1.5s;
    }
  }

  &_log-in {
    &-show {
      width: 750px;
      height: 85%;
      margin-top: -30px;
      background-color: colorPicker("bg-color", "beige");
      padding-top: 30px;
      border-radius: 50% 50% 0% 0%;
      z-index: 2;
      transition: height 1.5s;
    }
    &-hide {
      width: 750px;
      height: 30%;
      background-color: colorPicker("bg-color", "beige");
      transition: height 1.5s;
    }
    &_reset-password {
      margin-top: 30px;
      font-size: 12px;
    }
  }
}
